@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;500&display=swap');

html {
  background-color: #222;
}

body {
	font-family: 'Baloo 2', sans-serif;
	font-size: 18px;
}

main {
	max-width: 250px;
	padding: 1rem;
	color: white;
	border-width: 3px;
	border-style: solid;
	border-image: 
	linear-gradient(
		to bottom, 
		red, 
		orange
	) 1 100%;
}

div {
  color: white;
}

h1 {
	font-size: 2rem;
	line-height: 2.4rem;
	font-weight: bold;
}

a {
	color: #fff;
}