---
layout: layouts/base.njk
title: Benediction App
color: orange
section: Benediction
---

<h1 class="text-5xl font-bold mb-10">Benediction App</h1>

<h2 class="text-3xl font-bold mb-3">Privacy Policy</h2>

<p class="mb-3">Benediction does not collect any user analytics or data beyond the basic crash reporting that Apple provides, and is only enabled after opting into sharing analytics with developers. That's it.</p>

<div class="flex mt-2">
	<a href="/benediction" class="px-2 py-2 bg-none text-orange border-orange border-2 hover:bg-gray-dark hover:text-gray-light hover:border-gray-light hover:border-2 rounded flex gap-1">
		<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-left" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
			<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
			<polyline points="15 6 9 12 15 18"></polyline>
		</svg>
		<span class="mr-2">Back</span>
	</a>
</div>